<div class="background-bazaar">
<div class="container dark-background">
	<div class="row">
		<div class="col-md-4"></div>
		<div class="col-md-4">

			 
		     

				<%= form_for @user do |f| %>
				<div class="form-group signup-form">
				<h1>SIGNUP</h1>
				<% flash.each do |key, value| %>
		            <p class="alert alert-<%= key %>"><%= value %></p>
		          <% end %>
		          <strong>Username: </strong>
				  <%= f.text_field :username, class: "form-control" %><br>
				  <strong>Email: </strong>
				  <%= f.text_field :email, class: "form-control"  %><br>
				  <strong>Password: </strong>
				  <%= f.password_field :password, class: "form-control"  %><br>
				  <strong>Please confirm your password: </strong>
				  <%= f.password_field :password_confirmation, class: "form-control"  %><br>
				  <%= f.submit "Signup", class: "btn btn-search" %> or    <a href="/oauth/connect" class="highlight"><i class="fa fa-instagram"></i> Sign in with Instagram</a>
				  <br>
				</div>
				<% end %>
				

		</div>
		<div class="col-md-4">
			
		</div>
	</div>
</div>
</div>
