<style type="text/css">
	.panel-1{
		border: 1px solid blue;
	}
	.panel-2{
		border: 1px solid red;
	}
	.panel-3{
		border: 1px solid black;
	}
</style>

<h1>Insta#show</h1>
<p>Find me in app/views/insta/show.html.erb</p>

	<br>
	<br>

	<h1>Yelp Info:</h1>
<% @yelp.each do |i|%>
<a href="<%= i.url %>"><%= i.name %></a>
<br>
<img src="<%= i.image_url %>"><br>
<%= i.location.display_address[0] %><br>
<%= i.categories[0][0] %><br>
<img src="<%= i.rating_img_url_small %>"><br>
<br>
<% end %>

	<br>
<% @x.each do |tweet| %>


		Text: <%= tweet.text %><br>
		Username: <%= tweet.user.screen_name %><br>
		<a href="http://www.twitter.com/<%= tweet.user.screen_name %>">Username Link</a><br>
		Name: <%= tweet.user.name %><br>
		Source: <%= tweet.source %><br>
		<img src="<%= tweet.user.profile_image_url %>"> <br>
		<%= tweet.geo.coordinates %><br>
		<%= tweet.created_at.strftime("%D") %><br>
		id:<%= tweet.id %><br>
		<a href="http://www.twitter.com/<%= tweet.user.screen_name %>/status/<%= tweet.id %>">Tweet Link</a><br>
		<br>

<% end %>


	<br>
	<br>

	<img src="<%= @image_one.images.thumbnail.url %>">
	<img src="<%= @image_two.images.thumbnail.url %>">

	<br>
	<br>
	<br>


    <% @images.each do |i|%>
        <a href="<%= i.link %>" target="_blank" title="#"><img src="<%= i.images.thumbnail.url %>"></a>
      <% end %> 
