<!--Begin Instagram objects  -->
    <!-- Create form for new Favorite, populated by the hidden fields below and pulled from the Instagram object API call -->
    <div class="panel-1">
    <%= form_for Favorite.new do |f| %>
        <i class="fa fa-instagram fa-lg" style="float:right"></i>
        <a href="<%= @image_one.link %>" target="_blank" title="#">
          <img class="main" src="<%= @image_one.images.low_resolution.url %>">
          <h4>
            <img class="profile" src="<%= @image_one.user.profile_picture %>">   
            <!-- Create hidden fields with values from Instagram objects  -->
            <% if current_user %>
            <%= f.hidden_field :name, value: @image_one.user.username %>
            <%= f.hidden_field :main_url, value: @image_one.images.low_resolution.url %>
            <%= f.hidden_field :profile_url, value: @image_one.user.profile_picture %>
            <%= f.hidden_field :icon, value: "fa-instagram" %>
            <%= f.hidden_field :latitude, value: @lat %>
            <%= f.hidden_field :longitude, value: @lng %>
            <%= f.hidden_field :user_id, value: current_user.id %>
            <% end %>           
            <%= @image_one.user.username%>
          </h4>
        </a>
        <!-- Button submits hidden fields to the Favorites controller -->
        <button type="submit" class="btn btn-default btn-sm" style="float:right;">Save 
          <i class="fa fa-star-o saved"></i></button>
    <% end %>

      <div class="text-center">
              <a href="/like/<%= @image_one.id %>?address=<%= params[:address] %>" style="float:right;" remote="true">  
                <button class="btn btn-default btn-sm liked">
                Like 
                <i class="fa fa-heart"></i>
              </button>
              </a>
        </div>

      </div>


      <div class="panel-2">
    <%= form_for Favorite.new do |f| %>
      <i class="fa fa-instagram fa-lg" style="float:right;"></i>
        <a href="<%= @image_two.link %>" target="_blank" title="#">
          <img src="<%= @image_two.images.low_resolution.url %>" class="main">       
        <h4>
          <img src="<%= @image_one.user.profile_picture %>" class="profile">             
            <% if current_user %>  
            <%= f.hidden_field :name, value: @image_two.user.username %>
            <%= f.hidden_field :main_url, value: @image_two.images.low_resolution.url %>
            <%= f.hidden_field :profile_url, value: @image_two.user.profile_picture %>
            <%= f.hidden_field :icon, value: "fa-instagram" %>
            <%= f.hidden_field :latitude, value: @lat %>
            <%= f.hidden_field :longitude, value: @lng %>
           <%= f.hidden_field :user_id, value: current_user.id %>
              <% end %>

          <%= @image_one.user.username%>
        </h4>
        </a> 
        <button class="btn btn-default btn-sm" style="float:right;">Save <i class="fa fa-star-o"></i></button>
      <% end %>

          <div class="text-center">
              <a href="/like/<%= @image_two.id %>?address=<%= params[:address] %>" style="float:right;" remote="true">  
                <button class="btn btn-default btn-sm">
                Like 
                <i class="fa fa-heart liked"></i>
              </button>
              </a>
        </div>

        </div>


      <div class="panel-3">
      <%= form_for Favorite.new do |f| %>
      <i class="fa fa-instagram fa-lg" style="float:right;"></i>
        <a href="<%= @image_three.link %>" target="_blank" title="#">
          <img src="<%= @image_three.images.low_resolution.url %>" class="main">       
        <h4>
          <img src="<%= @image_three.user.profile_picture %>" class="profile">             
            <% if current_user %>  
            <%= f.hidden_field :name, value: @image_three.user.username %>
            <%= f.hidden_field :main_url, value: @image_three.images.low_resolution.url %>
            <%= f.hidden_field :profile_url, value: @image_three.user.profile_picture %>
            <%= f.hidden_field :icon, value: "fa-instagram" %>
            <%= f.hidden_field :latitude, value: @lat %>
            <%= f.hidden_field :longitude, value: @lng %>
           <%= f.hidden_field :user_id, value: current_user.id %>
              <% end %>

          <%= @image_three.user.username%>
        </h4>
        </a> 
        <button class="btn btn-default btn-sm" style="float:right;">Save <i class="fa fa-star-o"></i></button>
      <% end %>

        <div class="text-center">
              <a href="/like/<%= @image_three.id %>?address=<%= params[:address] %>" style="float:right;" remote="true">  
                <button class="btn btn-default btn-sm">
                Like 
                <i class="fa fa-heart liked"></i>
              </button>
              </a>
        </div>

    </div>


      <div class="panel-4">
      <%= form_for Favorite.new do |f| %>
      <i class="fa fa-instagram fa-lg" style="float:right;"></i>
        <a href="<%= @image_four.link %>" target="_blank" title="#"><img src="<%= @image_four.images.low_resolution.url %>" class="main">
            <h4>
            <img class="profile" src="<%= @image_four.user.profile_picture %>" class="profile">  

            <% if current_user %>
               <%= f.hidden_field :name, value: @image_four.user.username %>
               <%= f.hidden_field :main_url, value: @image_four.images.low_resolution.url %>
              <%= f.hidden_field :profile_url, value: @image_four.user.profile_picture %>
              <%= f.hidden_field :icon, value: "fa-instagram" %>
            <%= f.hidden_field :latitude, value: @lat %>
            <%= f.hidden_field :longitude, value: @lng %>
            <%= f.hidden_field :user_id, value: current_user.id %>
               <% end %>

            <%= @image_four.user.username%>
          </h4>
        </a>
        <button class="btn btn-default btn-sm" style="float:right;">Save <i class="fa fa-star-o"></i></button>
    <% end %>

      <div class="text-center">
              <a href="/like/<%= @image_four.id %>?address=<%= params[:address] %>" style="float:right;" remote="true">  
                <button class="btn btn-default btn-sm">
                Like 
                <i class="fa fa-heart liked"></i>
              </button>
              </a>
        </div>

      </div>


      <div class="panel-5">
    <%= form_for Favorite.new do |f| %>
          <i class="fa fa-instagram fa-lg" style="float:right;"></i>
        <a href="<%= @image_five.link %>" target="_blank" title="#"><img src="<%= @image_five.images.low_resolution.url %>" class="main">
           <h4>
            <img class="profile" src="<%= @image_five.user.profile_picture %>" class="profile">  

            <% if current_user %>
              <%= f.hidden_field :name, value: @image_five.user.username %>
              <%= f.hidden_field :main_url, value: @image_five.images.low_resolution.url %>
              <%= f.hidden_field :profile_url, value: @image_five.user.profile_picture %>
              <%= f.hidden_field :icon, value: "fa-instagram" %>
              <%= f.hidden_field :latitude, value: @lat %>
              <%= f.hidden_field :longitude, value: @lng %>
              <%= f.hidden_field :user_id, value: current_user.id %>
              <% end %>

            <%= @image_five.user.username%>
          </h4>
        </a>
        <button class="btn btn-default btn-sm" style="float:right;">Save <i class="fa fa-star-o"></i></button>
      <% end %>    

        <div class="text-center">
              <a href="/like/<%= @image_five.id %>?address=<%= params[:address] %>" style="float:right;" remote="true">  
                <button class="btn btn-default btn-sm">
                Like 
                <i class="fa fa-heart liked"></i>
              </button>
              </a>
        </div>

      </div>




      <div class="panel-6">
     <%= form_for Favorite.new do |f| %>
          <i class="fa fa-instagram fa-lg" style="float:right;"></i>
        <a href="<%= @image_six.link %>" target="_blank" title="#"><img src="<%= @image_six.images.low_resolution.url %>" class="main">
           <h4>
            <img class="profile" src="<%= @image_six.user.profile_picture %>" class="profile">  

            <% if current_user %>
              <%= f.hidden_field :name, value: @image_six.username %>
              <%= f.hidden_field :main_url, value: @image_six.images.low_resolution.url %>
              <%= f.hidden_field :profile_url, value: @image_six.user.profile_picture %>
              <%= f.hidden_field :icon, value: "fa-instagram" %>
              <%= f.hidden_field :latitude, value: @lat %>
              <%= f.hidden_field :longitude, value: @lng %>
              <%= f.hidden_field :user_id, value: current_user.id %>
                 <% end %>

            <%= @image_six.user.username%>
          </h4>
        </a>
        <button class="btn btn-default btn-sm" style="float:right;">Save 
          <i class="fa fa-star-o"></i>
        </button>
     <% end %>

        <div class="text-center">
              <a href="/like/<%= @image_six.id %>?address=<%= params[:address] %>" style="float:right;" remote="true">  
                <button class="btn btn-default btn-sm">
                Like 
                <i class="fa fa-heart liked"></i>
              </button>
              </a>
        </div>

      </div>
     <!-- End Instagram Objects -->
    
    <!-- Begin Tweet Objects -->

    <%= form_for Favorite.new do |f| %>
     <div class="panel-7">
        <i class="fa fa-twitter fa-lg" style="float:right"></i>
        <ul class="media-list">
            <li class="media">
              <a class="media-left" href="#" title="#">
                <img src="<%= @tweet_one.user.profile_image_url %>" alt="">
              </a>
              <div class="media-body">
                <h5 class="media-heading"><%= @tweet_one.user.name %> </h5>
                <h5> <a href="http://www.twitter.com/<%= @tweet_one.user.screen_name %>" target="_blank">

                    <% if current_user %>
                    <%= f.hidden_field :name, value: @tweet_one.user.name %>
                    <%= f.hidden_field :username, value: @tweet_one.user.screen_name %>
                    <%= f.hidden_field :profile_url, value: @tweet_one.user.profile_image_url %>
                    <%= f.hidden_field :text, value: @tweet_one.text %>
                    <%= f.hidden_field :icon, value: "fa-twitter" %>
                    <%= f.hidden_field :latitude, value: @lat %>
                    <%= f.hidden_field :longitude, value: @lng %>
                    <%= f.hidden_field :user_id, value: current_user.id %>
                       <% end %>

                @<%= @tweet_one.user.screen_name %></a></h5>
                <p>
                  <a href="http://www.twitter.com/<%= @tweet_one.user.screen_name %>/status/<%= @tweet_one.id %>" target="_blank">
                  <%= @tweet_one.text %>
                   </a>
                </p>
              </div>
            </li>
          </ul>
              <button class="btn btn-default btn-sm" style="float:right;">Save <i class="fa fa-star-o"></i></button>
     </div>
     <% end %>


        <%= form_for Favorite.new do |f| %>
     <div class="panel-8">
        <i class="fa fa-twitter fa-lg" style="float:right"></i>
        <ul class="media-list">
            <li class="media">
              <a class="media-left" href="#" title="#">
                <img src="<%= @tweet_two.user.profile_image_url %>" alt="">
              </a>
              <div class="media-body">
                <h5 class="media-heading"><%= @tweet_two.user.name %> </h5>
                <h5> <a href="http://www.twitter.com/<%= @tweet_two.user.screen_name %>" target="_blank">

                    <% if current_user %>
                    <%= f.hidden_field :name, value: @tweet_two.user.name %>
                    <%= f.hidden_field :username, value: @tweet_two.user.screen_name %>
                    <%= f.hidden_field :profile_url, value: @tweet_two.user.profile_image_url %>
                    <%= f.hidden_field :text, value: @tweet_two.text %>
                    <%= f.hidden_field :icon, value: "fa-twitter" %>
                    <%= f.hidden_field :latitude, value: @lat %>
                    <%= f.hidden_field :longitude, value: @lng %>
                    <%= f.hidden_field :user_id, value: current_user.id %>
                       <% end %>

                @<%= @tweet_one.user.screen_name %></a></h5>
                <p>
                  <a href="http://www.twitter.com/<%= @tweet_two.user.screen_name %>/status/<%= @tweet_two.id %>" target="_blank">
                  <%= @tweet_two.text %>
                   </a>
                </p>
              </div>
            </li>
          </ul>
              <button class="btn btn-default btn-sm" style="float:right;">Save <i class="fa fa-star-o"></i></button>
     </div>
    <% end %>

    <!-- End Tweet Objects -->
